@font-face {
  font-family: transformer;
  src: url('resources/transformersMovie.ttf');
}

@font-face {
  font-family: bonzai;
  src: url('resources/bonzai.ttf');
}

@font-face {
  font-family: typeWriter;
  src: url("resources/TravelingTypewriter.ttf") format("opentype");
}

@font-face {
  font-family: quikhand;
  src: url("resources/Quikhand.otf");
}

body {
  /*text-align: center;*/
  margin: 0;
  font-family: bonzai;
  background-image: url('resources/tree_bark.png');
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  vertical-align: middle;
  display: inline-block;
}

#img1 {
  height: 600px;
}

#img2, #img3 {
  display:none;
  height: 600px;
}

label {
  display: inline-block;
  width: 130px;
  text-align: center;
}

.border {
  border-style: dotted;
  border-color: #FF8B19;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*datepicker's z index is not right with dialog*/
.ui-datepicker {
  z-index: 9999 !important;
}
/*colorpicker's z index is wrong also*/
.colorpicker {
  z-index: 9999 !important;
}

.container {
  width: 1250px;
  text-align: center;
  margin: 0 auto;
}

.container h1 {
  text-decoration: underline;
}

#nav {
  font-family: transformer;
  z-index: 10000;
  top: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  opacity: 0.9;
  text-align: center;
  background-image: url('resources/congruent_outline.png');
  overflow-x:auto;
}

#nav ul{
  list-style: none;
  height: 70px;
  margin: 0;
}

#nav ul li{
  display: inline-block;
  height: 70px;
}

#nav ul li:hover{
  background: #4b2222;
  opacity: 0.7;
}

#nav ul li a{
  text-decoration: none;
  /*font-family: 'Lato', sans-serif;*/
  color: white !important;
  font-size: 20px;
  padding: 20px 15px 5px 15px;
  display: block;
}


#header {
  width: 100%;
  height: 1010px;
  background-image: url('resources/geometry2.png');
  background-repeat: repeat;
}

#header img {
  margin-top: 15%;
}

#greeting {
  color: #6d746f;
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 2px;
  top: 5%;
  position: relative;
}

#name {
  color: #6d746f;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 2px;
  top: 10%;
  position: relative;
  margin: auto;
}

#gallery {
  width: 100%;
  background-image: url('resources/skulls.png');
}

#gallery h1 {
  /*color: #5A4F65;*/
  font-size: 55px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  font-family: typeWriter;
}

#pictures {
  overflow-x: auto;
  width: 950px;
  padding: 50px 0 171px 0;
  margin: auto;
}

#about {
  font-family: quikhand;
  width: 100%;
  background-image: url('resources/fresh_snow.png');
  color: #272a28;
}

#content h1 {
  font-family: typeWriter;
  margin: 0 auto;
  padding: 20px 0 40.2px 0;
}

#content {
  font-size: 30px;
  letter-spacing: 2px;
  position: relative;
  margin: auto;
  width: 70%;
  top:3%;
}

#content a:hover {
  color: #6d746f;
}

/*This section modifies Resume div*/
#resume {
  background-image: url("resources/linedpaper.png");
  font-family: quikhand;
  font-size: 22px;
}

/*Title*/
#resume p {
  margin: 0 auto;
}

/*name and contact*/
#resume h1 {
  text-decoration: underline;
  font-size: 45px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: typeWriter;
}

#resume p:nth-child(4){
  float:right;
  font-size: 20px;
  padding-right: 40px;
}

#resume h2 {
  text-decoration: underline;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 30px;
  font-family: typeWriter;
}

#resume p:nth-child(2) {
  margin: 0 auto;
  font-size: 30px;
  float:right;
  padding-right: 40px;
}

#resume hr {
  clear: both;
}

/*Related Coursework*/

#resume ul {
  margin: 0px auto;
}

#resume ul li {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*resume ends here*/

#calendarSection {
  background-image: url('resources/food.png');
  color:white;
  font-family:typeWriter;
  padding: 0 0 50px 0;
  float: none;
}

#calendarSection h1 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  padding-top: 40px;
  text-align: center;
}


#addEvent {
  display: block;
  float: right;
  margin-top: 20px;
  /*width: 200px;
  height: 30px;
  font-size: 30px;
  padding: 0 0 10px 0;*/
}


#footer {
  font-family: transformer;
  font-size: 25px;
  width: 100%;
  height: 100px;
  color: white;
  background-image: url('resources/congruent_outline.png');
  padding: 20px 0 20px 0;
}

#footer p {
  margin: 0;
  padding: 0;
}

.button {
   margin: 0 20px 0 20px;
   cursor: pointer;
   display: inline-block;
   border-top: 1px solid #a8a8a8;
   background: #aeb2b5;
   background: -webkit-gradient(linear, left top, left bottom, from(#a1a1a1), to(#aeb2b5));
   background: -webkit-linear-gradient(top, #a1a1a1, #aeb2b5);
   background: -moz-linear-gradient(top, #a1a1a1, #aeb2b5);
   background: -ms-linear-gradient(top, #a1a1a1, #aeb2b5);
   background: -o-linear-gradient(top, #a1a1a1, #aeb2b5);
   padding: 20px 40px 20px 40px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   /*font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;*/
   text-decoration: none;
   vertical-align: middle;
   font-size: 50px;
   }

.button:hover {
   border-top-color: #515b61;
   background: #515b61;
   color: #b3b3b3;
   }
.button:active {
   border-top-color: #4a5054;
   background: #4a5054;
   }

/*This disables selecting the text in the button*/
#left, #right,#addEvent,#Login{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Login: hover{
  cursor:pointer;
}

#calendar {
  font-family: typeWriter;
}
